.section-fetured {
  height: 100vh;
  margin: -1rem 0 0 0;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  background-image: linear-gradient(
      140deg,
      var(--primary-color-half),
      var(--secondary-color-half)
    ),
    url(../media/img/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg);
  background-position: top center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-section {
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 5rem;
  padding: 0 5rem;
}
.card {
  background-color: #333;
  text-align: center;
  padding: 2rem 1.6rem 4rem 1.6rem;
  border-radius: 0.7rem;
  cursor: pointer;
  &:hover {
    transform: translateY(-3rem) scale(1.1);
  }
  .fetured-heading {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 900;
    margin: 3rem 0 2rem 0;
    letter-spacing: 0rem;
  }
  .fetured-sub-heading {
    font-size: 1.6rem;
    line-height: 1.7;
  }
  .icon {
    font-size: 6rem;
  }

  & > * {
    background-image: linear-gradient(
      -50deg,
      rgb(200, 0, 255),
      rgb(0, 255, 208)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}
