.footer-section {
  background-color: #333;
  color: white;
  padding: 10rem 7rem 20rem 7rem;

  .footer-logo {
    margin: 0 auto 10rem auto;
    max-width: 20rem;
    img {
      width: 100%;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20rem;
    font-size: 1.6rem;
    & > * {
      border-top: 0.1rem solid rgba(255, 255, 255, 0.53);
      padding-top: 2rem;
      /* display: inline-block; */
    }
    .footer-nav {
      justify-self: start;
      display: inline-block;
      .nav-list {
        li {
          display: inline-block;
          line-height: 2;
          &:not(:last-child) {
            margin-right: 1.6rem;
          }
        }
      }
    }
  }
  .addressing-btn:link,
  .addressing-btn:visited {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  .addressing-btn:hover,
  .addressing-btn:active {
    transform: rotate(5deg) scale(1.2);
    cursor: pointer;
    background-color: #2a2a2a;
  }

  .footer-about {
    line-height: 2;
    text-transform: lowercase;
  }
}

@media /* (min-width: 48em) and */ (max-width: 1098px) and (orientation: portrait) {
  .footer-section {
    .footer {
      grid-template-columns: 1fr;
      gap: 15rem;
      text-align: center;
      .footer-nav {
        justify-self: stretch;
      }
    }
  }
}
