.header {
  height: 95vh;
  background-image: linear-gradient(140deg, #862e9ccc, #38d9a9cc),
    url(../media/img/hero.jpg);
  background-size: cover;
  background-position: top center;

  position: relative;
  color: var(--text-color);

  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.header__logo--section {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo--section .logo {
  height: 3.5rem;
}

.header .header__hero--section {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.header .header__hero--section .primary {
  backface-visibility: hidden;
}
.header .header__hero--section .primary-heading {
  font-size: 5.2rem;
  font-weight: 500;
  letter-spacing: 3rem;
  font-family: var(--main-font);
  display: block;
  animation: from-left 0.7s ease forwards;
  animation-delay: 0.4s;
  opacity: 0;
}
.header .header__hero--section .primary-sub-heading {
  font-size: 1.6rem;
  letter-spacing: 1.6rem;
  font-weight: 700;
  margin: 0rem 0 6.4rem 0;
  display: block;
  animation: from-right 0.7s ease forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

/* .mew {
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
} */
