/* animation: from-right 0.3s ease-in-out 1s backwards; */

.the-check {
  display: none;
  pointer-events: none;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 90;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  animation: from-right 0.3s ease-in-out 1s backwards;
}
.circle-spawn {
  width: 2.5rem;
  height: 2.5rem;
  background-image: radial-gradient(var(--secondary-color), #9500ff);
  position: fixed;
  top: 5rem;
  right: 5rem;
  translate: -50% 50%;
  z-index: 50;
  border-radius: 50%;
  animation: from-right 0.3s ease-in-out 1s backwards;
  transition: transform 0.6s cubic-bezier(1, 0, 0.32, 1.32);
}

.nav-btn .line {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 0.2rem;
  background-color: black;
  border-radius: 1rem;
  transition: all 0.1s linear;

  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 1rem;
    position: absolute;
    transition: transform 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  }

  &::after {
    top: 0.6rem;
  }
  &::before {
    top: -0.6rem;
  }
}
.nav-btn:hover .line {
  &::after {
    top: 0.7rem;
  }
  &::before {
    top: -0.7rem;
  }
}

.the-check:checked ~ .circle-spawn {
  transform: scale(130);
}
.the-check:checked ~ .nav-btn {
  .line {
    background-color: transparent;
    &::after {
      top: 0;
      transform: rotate(135deg);
    }
    &::before {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}

.menu-list {
  position: fixed;
  z-index: 1000;
  top: 50%;
  opacity: 0;
  left: -30%;
  translate: -50% -50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.6s cubic-bezier(1, 0, 0.32, 1.32) 0s;

  .menu-item {
    padding: 1.8rem;
    transition: all 0.6s ease;
    background-image: linear-gradient(120deg, transparent 50%, white 50%);
    background-size: 300%;
    &:hover {
      transform: translateX(1.6rem);
      background-position: 100%;
      .menu-item-btn {
        color: rgb(0, 149, 255);
      }
    }

    .menu-item-btn {
      transition: all 0.6s ease;
      color: white;
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      span {
        margin-right: 1rem;
      }
    }
  }
}

.the-check:checked ~ .menu-list {
  left: 50%;
  opacity: 1;
  transition: all 0.6s cubic-bezier(1, 0, 0.32, 1.32) 0.3s;
}
