.section-tour {
  padding: 5rem 0;
  display: grid;
  max-width: 115rem;
  margin: 10rem auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  column-gap: 5rem;
  row-gap: 9.6rem;
  .main-gradient-title {
    grid-column: 1/-1;
  }
}

.image-header {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  overflow: hidden;
  width: 100%;
  padding-bottom: 65%;
  background-position: center center;
  background-size: cover;
  background-blend-mode: screen;
}
.head-line-title {
  position: absolute;
  top: 0;
  left: 5%;
  translate: 0% -70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  .head-line-title-first,
  .head-line-title-second {
    display: block;
    text-transform: uppercase;
    color: white;
    font-size: 2vw;
    padding: 1rem 1.6rem;
    margin-top: -0.8rem;
  }
  .hltf-1 {
    background-image: linear-gradient(140deg, #ffb900, #ff7730);
  }
  .hltf-2 {
    background-image: linear-gradient(140deg, #7ed56f, #28b485);
  }
  .hltf-3 {
    background-image: linear-gradient(140deg, #2998ff, #5643fa);
  }
}

.price-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  li {
    font-size: 1.4rem;
    padding: 1.6rem 0;
    width: 70%;
    text-align: center;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
  }
  li:last-child,
  li:first-child {
    border: none;
  }
}

.price-card {
  perspective: 50rem;
  -moz-perspective: 50rem;
  position: relative;
  padding-bottom: 54rem;

  &:hover {
    .front-card-side {
      transform: rotateY(-180deg);
    }
    .back-card-side {
      transform: rotateY(0deg);
    }
  }
}

.side {
  backface-visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 1.6rem 3rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  transition: transform 0.6s ease;
}
.front-card-side {
  z-index: 3;

  .IH1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
      url(../media/img/nat-5.jpg);
  }
  .IH2 {
    background-image: linear-gradient(140deg, #7ed56f, #28b485),
      url(../media/img/nat-6.jpg);
  }
  .IH3 {
    background-image: linear-gradient(140deg, #2998ff, #5643fa),
      url(../media/img/nat-7.jpg);
  }
}

.back-card-side {
  z-index: 4;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  .tit {
    font-weight: 900;
    font-size: 2rem;
  }
  .price {
    font-size: 6.2rem;
    font-weight: 200;
    margin: 2rem 0 5rem 0;
  }
}
.side-1 {
  background-image: linear-gradient(140deg, #ffb900, #ff7730);
}
.side-2 {
  background-image: linear-gradient(140deg, #7ed56f, #28b485);
}
.side-3 {
  background-image: linear-gradient(140deg, #2998ff, #5643fa);
}

.btn-box {
  grid-column: 2/3;
  text-align: center;
}
